{{ $page := .page }}
{{ $author_page := .author_page }}
{{ $site_type := site.Params.marketing.seo.site_type | default "Person" }}
{{- $has_profile := not (eq nil $author_page.Params.superuser) -}}

{{ if $has_profile }}
  {{ $profile_url := $author_page.RelPermalink }}
  {{ if and (eq $site_type "Person") (eq $author_page.Params.superuser true) }}
    {{ $profile_url = site.BaseURL }}
  {{ end }}
  {{ $avatar := ($author_page.Resources.ByType "image").GetMatch "*avatar*" }}
  {{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}

<div class="flex">
{{ if $avatar }}
  {{ $avatar_w := 320 }}
  {{ $img1x := $avatar.Resize (printf "%dx" $avatar_w) }}
  {{ $img2x := $avatar.Resize (printf "%dx" (mul $avatar_w 2)) }}

  <!-- DEBUG: using custom page_author_card -->
  <img
    class="mr-4"
    alt="{{ $author_page.Title }}"
    src="{{ $img1x.RelPermalink }}"
    srcset="{{ $img1x.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
    width="{{ $img1x.Width }}" height="{{ $img1x.Height }}"
    loading="lazy"
  />
{{ end }}

  <div class="place-self-center">
    <div class="text-[0.6rem] uppercase leading-3 text-neutral-500 dark:text-neutral-400">
      {{ i18n "authors" }}
    </div>
    <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
      {{if $profile_url}}<a href="{{$profile_url}}" class="no-underline">{{end}}
      {{$author_page.Title}}
      {{if $profile_url}}</a>{{end}}
    </div>

    {{ with $author_page.Params.role }}
    <div class="text-sm font-bold text-neutral-700 dark:text-neutral-300">
    {{. | markdownify | emojify}}
    </div>
    {{end}}


    {{ with $author_page.Params.bio }}
    <div class="text-sm text-neutral-700 dark:text-neutral-300">{{ . | markdownify | emojify }}</div>
    {{ end }}

    <div class="text-2xl sm:text-lg pt-1">

      {{ partial "social_links" $author_page }}

    </div>
  </div>
</div>

{{end}}{{/* End Check for Author Profile */}}
